<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OCRemoteServer</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aecontrol">
                <span class="oi oi-plus" aria-hidden="true"></span> AE点菜
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="component">
                <span class="oi oi-plus" aria-hidden="true"></span> 组件查看
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="debug">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 命令执行
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="synccode">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 代码同步
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
