@page "/synccode"
@using BlazorStrap
@inject IBlazorStrap _blazorStrap


<h3>SyncCode</h3>
<BSToaster />

<BSButton Color="BSColor.Primary" OnClick="@(() => Sync())">同步代码</BSButton>


@code {
    void ShowToast(string text)
    {
        _blazorStrap.Toaster.Add("警告", text, o =>
        {
            o.Color = BSColor.Warning;
            o.HasIcon = true;
            o.Toast = Toast.TopRight;
        });
    }

    public async void Sync()
    {
        await RemoteManager.SyncCode();
        ShowToast("DONE!");
    }

}
