@page "/synccode"
@using BlazorStrap
@inject IBlazorStrap _blazorStrap


<h3>SyncCode</h3>
<BSToaster />

<BSButton OnClick="@(() => Sync())">同步代码</BSButton>


@code {
    void ShowToast(string text)
    {
        _blazorStrap.Toaster.Add("警告", text, o =>
        {
            o.Color = BSColor.Warning;
            o.HasIcon = true;
            o.Toast = Toast.TopRight;
        });
    }

    async void Sync()
    {
        var dir = Path.Combine(Environment.CurrentDirectory, "wwwroot/lua");
        foreach (var file in Directory.GetFiles(dir))
        {
            var text = File.ReadAllText(file);
            await RemoteManager.Request(text);
        }
        ShowToast("DONE!");
    }

}
